<!--4.解决换行问题-->
<style type="text/css">
    pre {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
</style>

<div style="text-align: center">
    <h1 style="font-size:70px" >{{ blog.title }}</h1>
    <h5>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ blog.date }}</h5>
</div>

<div class="container" style="text-align: center; ">
            <a href=".." class="btn btn-primary my-2">Back to Collection</a><!--按钮，用两个点：".."返回上一级主页-->
</div>

<div style="text-align: center">
    <img src="{{blog.image.url}}" height="50%">
</div>

<pre style="width:750px;font-size:100%;text-align:left;margin: 20px auto;">
    {{blog.text}}
</pre>

<!-- Bootstrap core CSS -->  <!--2.去官网首页下面CDN下面的CSSonly吧链接复制过来-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
